<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="SlimSkeleton">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_SERVER_URL" value="https://localhost:8000" 
          force="true" />
    </php>
</phpunit>